<div id="app" class="app">
  <div class="header">
    <h1>Banco UN</h1>
    <nav>
      <button *ngIf="is_auth" (click)="loadHome()"> Home </button>
      <button *ngIf="is_auth" (click)="loadAccount()"> Account </button>
      <button *ngIf="is_auth" (click)="logOut()"> Logout </button>
      <button *ngIf="!is_auth" (click)="loadLogIn()" > SignIn </button>
      <button *ngIf="!is_auth" (click)="loadSignUp()" > SignUp </button>
    </nav>
  </div>
  
  <div class="main-component">
    <router-outlet></router-outlet>
  </div>
  
  <div class="footer">
  <h2>&copy; Copyright</h2>
  </div>
</div>