<div id="app" class="app">
  <div class="header">
    <h1>Banco UN</h1>
    <nav>
      <button *ngIf="is_auth" > Home </button>
      <button *ngIf="is_auth" > Account </button>
      <button *ngIf="is_auth" > Logout </button>
      <button *ngIf="!is_auth" (click)="loadLogIn()" > SignIn </button>
      <button *ngIf="!is_auth" (click)="loadSignUp()" > SignUp </button>
    </nav>
  </div>
  
  <div class="main-component">
    <router-outlet
    (completedLogIn)="completedLogIn"
    (completedSignUp)="completedSignUp"
    ></router-outlet>
  </div>
  
  <div class="footer">
  <h2>Misión TIC 2022</h2>
  </div>
</div>